# ======================
#   Network / Basics
# ======================

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_hostname "Insanely FiveM Unlimited"
sv_maxclients 2000

sv_scriptHookAllowed 0
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on
set sv_enforceGameBuild 3570

set sv_pureLevel 1
set sv_advertise 1

sets tags "fun"
sets locale "en-NL"
sets sv_projectName "Insanely FiveM Unlimited"
sets sv_projectDesc "A Very Insane Server"

load_server_icon myLogo.png

# =====================================
# OXMYSQL
# =====================================
set mysql_connection_string "mysql://root@localhost/fivem?charset=utf8mb4"


# =====================================
# CORE ESSENTIALS (REQUIRED)
# =====================================

ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure baseevents
ensure basic-gamemode

# Insane
ensure ox_lib
ensure oxmysql
ensure screencapture
ensure bob74_ipl
#ensure nolag_properties

ensure lc-spawn

# Liberty City stack (order matters)
ensure lcpack
ensure liberty_vehicles
ensure liberty_city_peds
ensure libertycity

