# ======================
#   Network / Basics
# ======================

endpoint_add_tcp "0.0.0.0:30130"
endpoint_add_udp "0.0.0.0:30130"

sv_hostname "Insanely FiveM Redirector"
sv_maxclients 10

sv_scriptHookAllowed 0
set sv_enforceGameBuild 3570

set sv_pureLevel 1
set sv_advertise 1

sets tags "fun"
sets locale "en-NL"
sets sv_projectName "Insanely FiveM Redirector"
sets sv_projectDesc "A Very Insane Redirect"

load_server_icon myLogo.png

# Redirect-only resource
ensure insane_redirect
