# ======================
#   Network / Basics
# ======================

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_hostname "Insanely FiveM Unlimited"
sv_maxclients 2000

sv_scriptHookAllowed 0
set onesync on
set sv_enforceGameBuild 3570

set sv_pureLevel 1
set sv_advertise 1

sets tags "fun"
sets locale "en-NL"
sets sv_projectName "Insanely FiveM Unlimited"
sets sv_projectDesc "A Very Insane Server"

load_server_icon myLogo.png


# =====================================
# CORE ESSENTIALS (REQUIRED)
# =====================================

ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure baseevents
ensure basic-gamemode


# Map
ensure fivem-map-skater
