endpoint_add_udp "0.0.0.0:30130"
endpoint_add_tcp "0.0.0.0:30130"
set resourcesPath "E:\FiveM-No-CFX\server-data\resources"
# ======================
#   Network / Basics
# ======================


sv_hostname "Insanely FiveM Redirector"
sv_maxclients 10

sv_scriptHookAllowed 0
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on
set sv_enforceGameBuild 3570

set sv_pureLevel 1
set sv_advertise 1

sets tags "fun"
sets locale "en-NL"
sets sv_projectName "Insanely FiveM Redirector"
sets sv_projectDesc "A Very Insane Redirect"

load_server_icon myLogo.png

# =====================================
# CORE ESSENTIALS (REQUIRED)
# =====================================

ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure baseevents
ensure basic-gamemode


ensure [cfx-default]
